blinker
certifi
charset-normalizer
click
colorama
EasyProcess
entrypoint2
flash
Flask
idna
itsdangerous
Jinja2
MarkupSafe
MouseInfo
mss
mysql-connector-python
Pillow
protobuf
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-pyperclip
pytweening
requests
urllib3
Werkzeug
